{% extends base.html %}

{% block info %}
<script>
function jump(i) {
    const teacherName = "James";
    console.log(i)
    window.location.href = "/live?teacherName=" + teacherName + "&courseName=" + i['name'];
}
</script>

<div class="subtitle">您的课程</div>
<table id="course-table" cellspacing="0">
    <tr>
        <td class="head">课程名称</td>
        <td class="head">授课时间</td>
        <td class="head">课程学分</td>
        <td class="head">授课班级</td>
        <td class="head">上课人数</td>
        <td class="head"></td>
    </tr>
    {% for i in range(len(courses)) %}
        <tr>
            <td>{{ courses[i]["name"] }}</td>
            <td>{{ courses[i]["clock"] }}</td>
            <td>{{ courses[i]["credit"] }}</td>
            <td>{{ courses[i]["class"] }}</td>
            <td>{{ courses[i]["count"] }}</td>
            <td>
                <button class="start-live" onclick="jump({{ courses[i] }})">开始直播</button>
            </td>
        </tr>
    {% end %}
</table>
{% end %}