{% extends base.html %}

{% block info %}
<div class="subtitle">您的课程</div>
<table id="course-table" cellspacing="0">
    <tr>
        <td class="head">课程名称</td>
        <td class="head">授课时间</td>
        <td class="head">课程学分</td>
        <td class="head">授课班级</td>
        <td class="head">上课人数</td>
        <td class="head"></td>
    </tr>
    {% for course in courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["clock"] }}</td>
            <td>{{ course["credit"] }}</td>
            <td>{{ course["class"] }}</td>
            <td>{{ course["count"] }}</td>
            <td><button class="start-live">开始直播</button></td>
        </tr>
    {% end %}
</table>
{% end %}