{% extends base.html %}

{% block info %}
<div class="subtitle">
    个人信息
</div>
<div id="info-panel">
    <div class="item wide">账号：{{ user["username"] }}</div>
    <div class="item wide">昵称：{{ user["nickname"] }}</div>
    <div class="image-item wide">头像：<img src="/avatar/{{ user["username"] }}" alt="{{ user["avatar"] }}"/></div>
    <div class="item wide">邮箱：{{ user["email"] }}</div>
    <div class="item wide">学校：{{ user["school"] }}</div>
    <div class="item wide">工号：{{ user["userID"] }}</div>

</div>

<script type="text/javascript">
    function change() {

    }
</script>

{% end %}