<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 规定文档的字符编码。 -->
    <title>{{ teacherName }}的{{ courseName }}直播间</title>
    <link type="text/css" href="{{ static_url('css/live-style.css') }}" rel="stylesheet"/>

</head>
<body onload="onLoad()">
<div id="video-module">
	<div id="member-list" class="pop-div">
        <div class="member-item" v-for="member in members">
            <span class="item-username">[[ member ]]</span>
            <button class="item-btn" @click="watchVideo(member)">查看摄像头</button>
            <button class="item-btn" @click="watchScreen(member)">查看屏幕</button>
        </div>
	</div>
	<div id="app-list" class="pop-div">
        <div class="app-item" v-for="(app, index) in apps" :key="index" @click="getLists(app.event)">
            <img :src=app.icon :alt=app.name class="app-icon">
            <div class="app-name">[[ app.name ]]</div>
        </div>
	</div>

    <div id="course-info">
        <img src="../static/avatars/{{ teacherName }}.jpg"  id="avatar" alt="头像"></img>
        <div id="teacherName"><b>授课老师：</b>{{ teacherName }}</div>
        <div id="courseName"><b>授课内容：</b>{{ courseName }}</div>
        <div id="people-count"><b>在线人数：</b>[[ peopleCount ]]</div>
    </div>
    <div id="video-part">
        <video id="localClient" autoplay playsinline></video>
        <video id="remoteClient" autoplay playsinline></video>
    </div>

    <div id="tool-part">
        <div id="microphone" class="item" @click="microphone()">
            <img v-if="open" src="../static/icons/麦克风.svg" alt="开启麦克风" class="icon">
            <img v-else src="../static/icons/关闭麦克风.svg" alt="关闭麦克风" class="icon">
            <div class="caption">
                <span v-if="open">麦克风打开</span>
                <span v-else>麦克风关闭</span>
            </div>
        </div>
        <div id="camera" class="item" @click="camera()">
            <img v-if="open" src="../static/icons/摄像头.svg" alt="开启屏幕" class="icon">
            <img v-else src="../static/icons/摄像头_关闭.svg" alt="关闭屏幕" class="icon">
            <div class="caption">
                <span v-if="open">摄像头打开</span>
                <span v-else>摄像头关闭</span>
            </div>
        </div>
        <div id="share-screen" class="item" @click="shareScreen()">
            <img v-if="open" src="../static/icons/开启屏幕.svg" alt="结束共享" class="icon">
            <img v-else src="../static/icons/关闭屏幕.svg" alt="开始共享" class="icon">
            <div class="caption">
                <span v-if="open">结束共享</span>
                <span v-else>开始共享</span>
            </div>
        </div>
        <div id="member" class="item" @click="showMemberList()">
            <img src="../static/icons/好友.svg" alt="查看成员" class="icon">
            <div class="caption">查看成员</div>
        </div>
        <div id="record-screen" class="item" @click="open = !open">
            <img v-if="open" src="../static/icons/摄像头.svg" alt="结束录制" class="icon">
            <img v-else src="../static/icons/摄像头_关闭.svg" alt="开始录制" class="icon">
            <div class="caption">
                <span v-if="open">结束录制</span>
                <span v-else>开始录制</span>
            </div>
        </div>
        <div id="files" class="item">
            <img src="../static/icons/文件夹.svg" alt="在线文件" class="icon">
            <div class="caption">
                <span>在线文件</span>
            </div>
        </div>
        <div id="apps" class="item" @click="showApps()">
            <img src="../static/icons/应用.svg" alt="应用" class="icon">
            <div class="caption">
                <span>查看应用</span>
            </div>
        </div>
        <div id="setting" class="item">
            <img src="../static/icons/icon_设置.svg" alt="设置" class="icon">
            <div class="caption">
                <span>设置</span>
            </div>
        </div>
        <div id="exit">
            <button id="exit-btn" onclick="exit()">退出直播</button>
        </div>
    </div>
</div>

<div id="chat-module">
    <div id="char-head">
        <img class="chat-bubble" src="../static/icons/说话气泡.svg" alt="聊天">
        <span style="position: relative; left: 10px; font-size: 18px; top: 2px;">聊天</span>
    </div>
    <div id="chat-body">
<!--        <span v-for="message in messages"></span>-->
    </div>
    <div id="emoji-part">
        <img class="emoji" src="../static/icons/表情.svg" alt="表情">
        <img class="emoji" src="../static/icons/上传文件.svg" alt="上传文件">
    </div>
    <div id="input-part">
        <textarea class="text" id="user-input" placeholder="输入消息…"></textarea>
    </div>
    <div id="send-part">
        <input id="send-button" value="发送消息" type="button" onclick="sendMessage();">
    </div>
</div>
</body>

<script src="../static/js/vue.js"></script>
<script type="text/javascript" src="../static/js/functions.js"></script>
<script>
    // 声明全局变量
    const username = get_cookie("username");
    let teacherName = '{{ teacherName }}', courseName = '{{ courseName }}';
    var ws; // ws连接
    let localClient = document.getElementById("localClient");
    let remoteClient = document.getElementById("remoteClient");
    let Connection;

	let historyVm = new Vue({
        el: '#chat-body',
        data: {
            messages: [],
        },
    });

    const microphoneVm = new Vue({
        el: '#microphone',
        data: {
            open: false
        },
        methods: {
            microphone: function() {
                this.open = !this.open;
            }
        }
    });

    const cameraVm = new Vue({
        el: '#camera',
        data: {
            open: false
        },
        methods: {
            camera: function () {
                this.open = !this.open;
                if (this.open === false) {
                    userMediaConstraints.video = false;
                } else {
                    userMediaConstraints.video = true;
                }
                loadUserStream();
            }
        }
    });

    const shareScreenVm = new Vue({
        el: '#share-screen',
        data: {
            open: false
        },
        methods: {
            shareScreen: function () {
                this.open = !this.open;
                if (this.open === true) {
                    displayMediaConstraints.video = true;
                } else {
                    displayMediaConstraints.video = false;
                }
                loadDisplayStream();
            }
        }
    });

    const recordScreenVm = new Vue({
        el: '#record-screen',
        data: {
            open: false
        }
    });

    const memberListVm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#member-list',
        data: {
            members: []
        },
        methods: {
            watchVideo(member) {
                createOffer();
            },
            watchScreen(member) {
                createOffer();
            }
        },
        computed: {
            isShow() {
                return this.members && this.members.length > 0
            }
		}
    });

	const memberVm = new Vue({
		el: '#member',
		data: {
			open: false,
		},
		methods: {
			showMemberList: function() {
				ws.send(JSON.stringify({
                    type: "offer-member-list"
                }));
                this.open = !this.open;
                appVm.open = false;
                this.showOrHide();
                appVm.showOrHide();
			},

			showOrHide: function() {
				const memberList = document.getElementById('member-list');
				if (this.open) memberList.style.display = "block";
				else memberList.style.display = "none";
			}
		},
	});

    const peopleCountVm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#people-count',
        data: {
            peopleCount: 0
        },
    });

	const appVm = new Vue({
		el: '#apps',
		data: {
			open: false
		},
		methods: {
			showApps: function() {
				this.open = !this.open;
				memberVm.open = false;
				this.showOrHide();
				memberVm.showOrHide();
			},
			showOrHide: function() {
				const appList = document.getElementById('app-list');
				if (this.open) appList.style.display = 'block';
				else appList.style.display = 'none';
			}
		}
	});

    const appListVm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-list',
        data: {
            apps: [
                { event: 'drawEvent', name: '白板', icon: '../static/icons/白板.svg' },
                { event: 'singupEvent', name: '签到', icon: '../static/icons/签到.svg'},
                { event: 'downloadChatRecord', name: '聊天记录', icon: '../static/icons/聊天记录.svg'},
                { event: 'downloadSignupRecord', name: '签到记录', icon: '../static/icons/数据汇总.svg'},
            ]
        },
        methods: {
            // 下载功能封装
            downloadFile: function(href, title) {
                const a = document.createElement('a');
                a.style = "display: none";
                a.href = href;
                // 添加download属性，防止打开文件
                a.download = title;
                document.body.append(a);
                a.click();
                document.body.removeChild(a);
                a.remove();
            },
            getLists: function(itemMethods) {
                if (itemMethods == "drawEvent") {
                    this.drawEvent();
                } else if (itemMethods == "signupEvent") {
                    this.signupEvent();
                } else if (itemMethods == "downloadChatRecord") {
                    this.downloadChatRecord();
                } else if (itemMethods == "downloadSignupRecord") {
                    this.downloadSignupRecord();
                } else {
                    alert("非法指令！");
                }
            },
            drawEvent: function() {
                window.location.href = "/draw";
            },
            signupEvent: function() {
                if (username !== '{{ teacherName }}')
                    alert("您的身份不是教师，无法发布签到内容！");
                else
                    ws.send(JSON.stringify({ type: "offer-signup" }));
            },
            downloadChatRecord: function() {
                let href = `/static/resources/history/${teacherName}/${courseName}/${username}.txt`;
                console.log(href);
                let filename = `${teacherName}老师的${courseName}课程的聊天记录`;
                this.downloadFile(href, filename);
            },
            downloadSignupRecord: function() {
                let href = `/static/resources/signup/${teacherName}/${courseName}.txt`;
                let filename = `${courseName}课程考勤表`;
                this.downloadFile(href, filename);
            }
        }
    });

    // 初始化用户媒体约束
    let userMediaConstraints = {
        audio: true,
        video: false,
    };
    // 初始化显示媒体约束
    let displayMediaConstraints = {
        audio: true,
        video: false,
    }

    // 加载用户摄像头、麦克风捕获的媒体流
    function loadUserStream() {
        navigator.mediaDevices.getUserMedia(
            userMediaConstraints
        ).then((stream) => {
            localClient.srcObject = stream;
            Connection.addStream(stream);
        }).catch((error) => {
            alert("获取摄像头或麦克风失败：" + error);
        });
    }

    // 加载用户机器内置媒体设备（屏幕）的媒体流
    function loadDisplayStream() {
        navigator.mediaDevices.getDisplayMedia(
            displayMediaConstraints
        ).then((stream) => {
            localClient.srcObject = stream;
            Connection.addStream(stream);
        }).catch((error) => {
            alert("获取屏幕媒体流失败：" + error);
        });
    }

    // 配置信令服务器并建立RTCPeerConnection，绑定oncandidate和onaddstream事件
    function startPeerConnection() {
        // 信令服务器配置
        var config = {
            'iceServers': [
                //{ 'urls': 'stun:stun.xten.com:3478' },
                //{ 'urls': 'stun:stun.voxgratia.org:3478' },
                { 'url': 'stun:stun.l.google.com:19302' }
            ]
        };
        config = {
            iceServers: [
                { urls: 'stun:stun.l.google.com:19302' },
                { urls: 'stun:global.stun.twilio.com:3478?transport=udp' }
            ],
            //sdpSemantics: 'unified-plan'
        };
        // 建立RTCPeerConnection连接
        Connection = new RTCPeerConnection(config);
        // 绑定icecandidate事件
        Connection.onicecandidate = function(e) {
            if (e.candidate) {
                ws.send(JSON.stringify({
                    type: "webrtc",
                    key: "candidate",
                    data: {
                        candidate: e.candidate
                    }
                }));
            }
        }
        // 绑定addstream事件，用户一旦addstream则将媒体流数据放到remoteClient播放器
        Connection.onaddstream = function(e) {
            remoteClient.srcObject = e.stream;
        }
    }
    
    // 创建offer，设置websocket通信格式，通过服务器进行交换
    function createOffer(){
        //发送offer和answer的函数，发送本地session描述
        Connection.createOffer().then(offer => {
            Connection.setLocalDescription(offer);
            ws.send(JSON.stringify({
                type: "webrtc",
                key: "offer",
                data: {
                    sdp: offer
                }
            }));
        });
    }

    // 创建answer，设置websocket通信格式，通过服务器进行交换
    function createAnswer() {
        Connection.createAnswer().then(answer => {
            Connection.setLocalDescription(answer);
            ws.send(JSON.stringify({
                type: "webrtc",
                key: "answer",
                data: {
                    sdp: answer
                }
            }));
        });
    }

    // 规定了客户端websocket通信的格式（使用JSON）
    function onLoad() {
        ws = new WebSocket("ws://" + window.location.host + "/ws?teacherName=" + '{{ teacherName }}' + "&courseName=" + '{{ courseName }}')
        ws.onopen = function () {
            ws.send(JSON.stringify({ type: "open-connection", account: username }));
        }

        ws.onmessage = function (e) {
            let message = JSON.parse(e.data);
            if (!message) {
                console.log("websocket消息为空!");
            }
            if (message.type === "close-connection") {
                ws.close();
            } else if (message.type === "user-message") {
                var rendered_text =  
                    '<div class="chat_left_item_1 ">' + message.account + '</div>' + 
                    '<div class="chat_left_item_2">' + 
                        '<div class="chat_time">' + message.time + '</div>' + 
                        '<div class="chat_left_content">' + 
                            message.message + 
                        '</div>' + 
                    '</div>';
                var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "chat_left clearfixt");
                newDiv.innerHTML = rendered_text;
                var chatBody = document.getElementById("chat-body");
                chatBody.append(newDiv);
                chatBody.scrollTop = chatBody.scrollHeight;
            } else if (message.type === "answer-signup") {
                let info = {
                    type: "answer-signup",
                    status: null,
                    account: username,
                    start_time: null
                }
                var signupWin = confirm("签到提醒");
                if (signupWin == true) {
                    info.start_time = new Date();
                    info.status = "confirm";
                    ws.send(info);
                } else {
                    info.status = "refuse";
                    ws.send(info);
                }
            } else if (message.type === "count-change") {
                peopleCountVm.peopleCount = message.count;
            } else if (message.type === "answer-member-list") {
                memberListVm.members = message.memberlist
            } else if (message.type === "webrtc") {
                if (message.key === "candidate" && message.data.candidate) {
                    Connection.addIceCandidate(new RTCIceCandidate(message.data.candidate));
                } else if (message.key === "offer") {
                    Connection.setRemoteDescription(message.data.sdp);
                    createAnswer();
                } else if (message.key == "answer") {
                    Connection.setRemoteDescription(message.data.sdp);
                }
            }
        }

        ws.onclose = function () {
            if (username !== '{{ teacherName }}')
                window.location.href = "/student/user-web";
            else
                window.location.href = "/teacher/user-web";
        }

        // 加载完ws动作后建立P2P连接，等待用户进一步动作
        startPeerConnection();
    }

    // 用户点击发送消息后触发的函数
    function sendMessage() {
        let text = document.getElementById('user-input').value;
        let date = new Date();
        var hour = date.getHours(), minute = date.getMinutes();
        let send_time = PrefixInteger(hour, 2) + ":" + PrefixInteger(minute, 2);
        var rendered_text = 
            '<div class="chat_right_item_1 clearfix">' + username + '</div>' + 
            '<div class="chat_right_item_2">' + 
                '<div class="chat_right_time clearfix">'+ send_time +'</div>'+
                '<div class="chat_right_content clearfix">'+ text +'</div>'
                +'</div>';
        
        var newDiv = document.createElement("div");
        newDiv.setAttribute("class", "chat_right");
        newDiv.innerHTML = rendered_text;
        var chatBody = document.getElementById("chat-body");
        chatBody.append(newDiv);

        ws.send(JSON.stringify({
            type: "user-message",
            account: username,
            time: send_time,
            message: document.getElementById('user-input').value
        }));

        document.getElementById("user-input").value = "";
    }

    function exit() {
        ws.close();
    }

</script>
</html>